* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header {
    width: 100vw;
    height: 10rem;
    text-align: center;
    background-color: #eeeeee;
}

h1 {
    font-size: 4rem;
    padding-top: 1rem;
}

header > p {
    font-size: 1.3rem;
    padding-top: 0.4rem;
}

/*All Css for the form is found below*/

form {
    text-align: center;
    margin: 1rem;
}

input[type="text"], input[type="number"] {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 2px;
}

/*All CSS for the table is found below*/
table {
    margin: 1rem auto;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eeeeee;
}

th, td {
    padding: 1rem clamp(5px, 7vw, 7rem);
    font-weight: 500;
    text-align: center;
}

th {
    font-size: 1.1rem;
    font-weight: bold;
}